#!/bin/bash


# Make vim the default editor.
export EDITOR='vim';

# Allow 32³ entries; the default is 1000.
export NODE_REPL_HISTORY_SIZE='32768';

# Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.
export PYTHONIOENCODING='UTF-8';

# Increase Bash history size. Allow 32³ entries; the default is 500.
export HISTSIZE='32768';
export HISTFILESIZE="${HISTSIZE}";
# Omit duplicates and commands that begin with a space from history.
export HISTCONTROL='ignoreboth';
export HISTTIMEFORMAT="%Y/%m/%d %H:%M:%S:   "

# https://github.com/liuchengxu/dotfiles/blob/master/bashrc#L26
# Don't put duplicate lines in the history and do not add lines that start with a space
export HISTCONTROL=erasedups:ignoredups:ignorespace

# Don't record some commands
export HISTIGNORE="&:[ ]*:exit:ls:bg:fg:history:clear"

export PROMPT_DIRTRIM=2

# Prefer US English and use UTF-8.
#export LANG='en_US.UTF-8';
#export LC_ALL='en_US.UTF-8';

# ZH UTF-8
#export LANG='zh_CN.UTF-8';
#export LC_ALL='zh_CN.UTF-8';

# Highlight section titles in manual pages.
export LESS_TERMCAP_md="${yellow}";

# 退出 Homebrew 的分析
# https://github.com/Homebrew/brew/blob/master/docs/Analytics.md
export HOMEBREW_NO_ANALYTICS=1;

# Avoid issues with `gpg` as installed via Homebrew.
# https://stackoverflow.com/a/42265848/96656
export GPG_TTY=$(tty);

# 消除登陆非 zsh shell 时显示的警告
# https://support.apple.com/zh-cn/HT208050`
export BASH_SILENCE_DEPRECATION_WARNING=1

# Homebrew's sbin(brew)
export PATH="/usr/local/sbin:$PATH"

# GOPATH
export GOPATH=/usr/local/share/go
export PATH=$PATH:$GOPATH/bin

# GOPROXY
export GO111MODULE=on
export GOPROXY=https://goproxy.cn,direct

# other (temporary)
export GUILE_LOAD_PATH="/usr/local/share/guile/site/3.0"
export GUILE_LOAD_COMPILED_PATH="/usr/local/lib/guile/3.0/site-ccache"
export GUILE_SYSTEM_EXTENSIONS_PATH="/usr/local/lib/guile/3.0/extensions"

# clangd (temporary)
export PATH=$PATH:/usr/local/opt/llvm/bin

# Python bin (temporary)
export PATH=$PATH:/usr/local/Cellar/python@3.9/3.9.1_6/Frameworks/Python.framework/Versions/3.9/bin
