#!/bin/bash


# mkdir ~/tmp
if [ ! -d "$HOME/tmp" ]; then
  mkdir -p "$HOME/tmp"
fi

tmp="$HOME/tmp"


# nmap Host live
function nmap_host_live() {
  nmap -n -sn -T5 -v $1 | grep -B 1 "Host is up"
}


# nmap Host server info
function nmap_server_info() {
  time=$(date +%F-%H-%M-%S)
  nmap -n -Pn -sV -O $1 > "$tmp/$1-$time.namp"
  cat "$tmp/$1-$time.namp"
}


# php re shell
function php_reverse_shell() {
  cp /usr/share/webshell/php-reverse-shell.php ~/Desktop
}


# Internat Test
function how_nat() {
  ping -c 3 www.baidu.com
}


# john hash
function john_hash() {
  john --wordlist=$1 $2 && john --show $2
}


# dirsearch 
function dirsearch_q() {
  dirsearch.py -u $1 -e php --random-agents
}
